<script>
$(document).ready(function(){
    $("#celebrate").click(function(){
        $(".hiphip").html("HOORAY!");
    });
});
</script>

<p class="hiphip">Yay?</p>

<p class="hiphip">Super-duper?</p>

<button id="celebrate">Get excited!</button>